@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("images/earth-bg.jpg");
    background-attachment: fixed;
}
.main{
    margin-top: 2.5%;
    background-color: transparent;
}

/* Headings */
h1{
    margin-top: 5%;
    padding: 1.5%;
    border-radius: 15px;
    font-size: xxx-large;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}
h2{
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}

/* Form */
.form-container{
    height: 50px;
    width: 50%;
    margin: 0 auto;
}
form{
    height: 100%;
    padding: 5px;
    display: flex;
    position: relative;
}
form input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 120px 0 40px;
    caret-color: #000;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.1s ease;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(0,0,0,0);
    color: #fff;
}
form i{
    position: absolute;
    top: 8px;
    left: 15px;
    text-align: center;
    font-size: 23px;
    color: #c4c4c4;
    pointer-events: none;
}
form input:focus{
    backdrop-filter: blur(1px);
}
form button{
    position: absolute;
    top: 20%;
    right: 15px;
    padding: 4px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}
form button:hover{
    background-color: rgba(0,0,0,0.6);
}
form input::placeholder{
    color: white;
    opacity: 0.5;
}
form input:focus::placeholder{
    opacity: 0.4;
}
form input:valid{
    border-color: black;
    border-width: 2px;
}
form input:valid ~ #create-short-url-btn{
    opacity: 1;
    pointer-events: auto;
}

/* Table (URLs List) */
.table{
    --bs-table-bg: rgba(0,0,0,0.8);
    --bs-table-hover-bg: rgba(0,0,0,0.2);
    border-radius: 20px;
    backdrop-filter: blur(4px);
}
.table thead{
    background-color: rgba(0,0,0,0.4);
}
.table-text{
    color: #8d8d8d;
}
.table a{
    text-decoration: none;
}
.table a:hover{
    text-decoration: underline;
}
#delete-link{
    text-decoration: none;
}
#delete-all-link{
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    backdrop-filter: blur(2px);
}